* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("/ELFI/image/pexels-alem-sánchez-1563045.jpg");
  background-size: cover;
}
#u_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 23px;
  margin-left: 35px;
}
#u_logoUser {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
}
#u_username {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 20px;
}

.u_upperBoards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#u_imc {
  margin: 30px;
}
#u_imc > h3 {
  margin-left: 15px;
}
#u_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 144px;
  border-style: solid;
  border-radius: 15px;
  border-color: #2a9d8f; /* La couleur doit changer en fonction le l'IMC */
}
#u_box > p {
  font-size: 50px;
  color: #2a9d8f;
}
#u_dashBoard {
  height: 300px;
  flex-grow: 3;
  background-color: white;
  border-radius: 15px;
  margin: 20px;
}
#u_sugg {
  height: 300px;
  flex-grow: 1;
  background-color: white;
  border-radius: 15px;
  margin: 20px;
}
.u_lowerBoardStyle {
  height: 573px;
  background-color: white;
  margin: 20px;
  border-radius: 15px;
  padding-right: 15px;
}
#u_inventaire {
  flex-grow: 1.5;
}
#u_recette {
  flex-grow: 1;
}

.u_searchbar {
  display: flex;
  justify-content: space-between;
}
h2 {
  margin: 10px 0px 0px 20px;
  font-size: 20px;
  font-weight: bold;
}
.u_searchStyle {
  border-style: none;
  border-bottom-style: solid;
  margin-top: 15px;
  width: 30%;
  margin-left: 150px;
  outline: none;
}
